

header{
    background-color: #ed5ccb;
}

.seccion-color{
    background-color: #f7bc46;
}

aside{
    background-color: #f87e52;
}

section div{
    background-color: aquamarine;
}

footer{
    background-color: #f6581e;
}